.carousel {
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px; // Cố định chiều cao cho mỗi item
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover; // Đảm bảo hình ảnh được căn chỉnh và không bị méo
  display: block;
}

.carousel-caption {
  position: absolute;
  bottom: 10%;
  left: 5%;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  font-size: 18px;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}
