@import "../../style/pages/responsive";

.carousel {
  position: relative;
  // box-sizing: border-box;
  
  width: 100%;
  margin: 0 ;

  // Apply responsive design
  @include responsive($DESKTOP) {
    max-width: 1400px;
  }

  @include responsive($MEDIUM) {
    max-width: 1200px;
  }

  @include responsive($TABLET) {
    max-width: 100%;
  }

  @include responsive($MOBILE) {
    max-width: 100%;
  }

  @include responsive($SMALL) {
    max-width: 100%;
  }
}

.carousel-inner {
  position: relative;
  overflow: hidden;
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;

  @include responsive($MOBILE) {
    height: 100;
  }

  @include responsive($SMALL) {
    height: 300px;
  }
}

.carousel-image {
  width:100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.carousel-caption {
  position: absolute;
  bottom: 10%;
  left: 5%;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  font-size: 18px;

  @include responsive($MOBILE) {
    font-size: 14px;
  }

  @include responsive($SMALL) {
    font-size: 12px;
  }
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 30px;
  padding: 10px;
  cursor: pointer;

  @include responsive($MOBILE) {
    font-size: 24px;
  }

  @include responsive($SMALL) {
    font-size: 20px;
  }
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}
